# see http://www.kernel.org/pub/software/scm/git/docs/git-config.html

[user]
  name  = YOUR USER NAME
  email = YOUR E-MAIL ADDRESS

[core]
#  autocrlf     = input
  diff         = meld
  editor       = vim
#  editor       = emacs
  excludesfile = ~/.gitignore
  pager        = less

[color]
  branch      = auto
  diff        = auto
  grep        = auto
  interactive = auto
  status      = auto
  ui          = auto

[push]
  default = tracking

[grep]
  lineNumber = true

[alias]
  ad   = add
  br   = branch
  ci   = commit
  cia  = commit --amend
  amend = commit --amend -C HEAD
  co   = checkout
  cob  = checkout -b
  com  = checkout master
  dw   = diff --color-words
  ds   = diff --staged
  ft   = fetch
  lg   = log --graph --branches --date=short --decorate --pretty=format:'%C(yellow)%h %Cgreen%ad %Cblue%cn %Creset%s %C(reverse)%C(auto)%D'
  lga  = log --graph --all --branches --date=short --decorate --pretty=format:'%C(yellow)%h %Cgreen%ad %Cblue%cn %Creset%s %C(reverse)%C(auto)%D'
  log-grep = log --pretty=oneline --name-only -S
  ls   = log --sta
  lp   = log -p
  rba  = rebase --abort
  rbc  = rebase --continue
  rbm  = rebase master
  ri5  = rebase -i HEAD~5
  ri10 = rebase -i HEAD~10
  ref  = reflog
  refa = reflog --all
  rl   = reflog
  rla  = reflog --all
  sh   = show
  ss   = stash
  ssd  = stash drop stash@{0}
  ssd1 = stash drop stash@{1}
  ssd2 = stash drop stash@{2}
  ssd3 = stash drop stash@{3}
  ssp  = stash pop
  ssp1 = stash pop stash@{1}
  ssp2 = stash pop stash@{2}
  ssp3 = stash pop stash@{3}
  sl   = stash list
  st   = status
  up   = pull --rebase
  prune= pull --prune
  wc   = whatchanged

  ranking = shortlog -s -n --no-merges

  # see http://d.hatena.ne.jp/moro/20110719/1311048331
  readit = tag -f 'READIT!' origin/master
  newspaper = log -p --reverse 'READIT!'..origin/master

  # remove merged all branches
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

  # for gerrit
  current-branch = describe --all --contains HEAD
  review = "!sh -c 'git push origin HEAD:refs/for/master/`git current-branch`'"
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[pivotal]
	api-token = 411fcb01ebdc36a03711a43d78a146f3
